.box{
    width: 100px;
    height: 100px;
}
.bluebox{
    background-color: blue;
}
.pinkbox{
    background-color: pink;
}
.blackbox{
    background-color: #000;
}
.greenbox{
    background-color: green;
}
.yellowbox{
    background-color: yellow;
}
.lighterbox{
    background-color: $lighter;
}
.orangebox{
    background-color: orange;
}
.ghostbox{
    background-color: $gray-300;
}
.bg{
    height: 100vh;
}